.services-container {
  background-color: var(--light-color); /* Fondo blanco para el contenedor */
  color: var(--dark); /* Color de texto oscuro */
  padding: 40px; /* Espaciado alrededor del contenido */
  text-align: center; /* Texto centrado */
}

.services-header {
  margin-bottom: 30px; /* Espacio debajo del título */
  color: var(--principal); /* Color del título */
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(500px, 1fr)
  ); /* Responsive grid */
  gap: 20px; /* Espacio entre tarjetas */
}

.service-card {
  background-color: rgba(160, 216, 131, 0.3); /* Fondo semitransparente */
  padding: 20px; /* Espaciado interno de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición para hover */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Altura completa */
}

.service-icon {
  font-size: 3rem; /* Tamaño grande para íconos */
  color: var(--principal); /* Color de los íconos */
  margin-bottom: 15px; /* Espacio debajo del ícono */
}

.service-card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr; /* Una sola columna en móviles */
  }
}
